body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1%;
}

.a-card-content {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 0.5%;
  width: 10vw;
  align-content: center;
  background-color: gold;
  color: antiquewhite;
}

.a-card-header {
  padding: 10%;
  margin: 10%;
  width: fit-content;
  background-color: darkslategray;
  color: wheat;
}

.a-stats-content {
  padding: 10%;
  margin: 10%;
  width: fit-content;
  background-color: navy;
}

.p-card-content {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 0.5%;
  width: 10vw;
  align-content: center;
  background-color: silver;
  color: antiquewhite;
}

.p-card-header {
  padding: 10%;
  margin: 10%;
  width: fit-content;
  background-color: cornflowerblue;
  color: antiquewhite;
}

.p-stats-content {
  padding: 10%;
  margin: 10%;
  width: fit-content;
  background-color: dodgerblue;
  color: wheat;
}

.Favorite-Animal-content {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 0.5%;
  width: 10vw;
  align-content: center;
  background-color: gold;
  color: antiquewhite;
}

.Favorite-Pokemon-content {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 0.5%;
  width: 10vw;
  align-content: center;
  background-color: silver;
  color: antiquewhite;
}

.fav-animal-name {
}

.fav-poke-name {
}

header {
}

h1 {
}

nav {
}

nav ul {
}

nav ul li {
}

main {
}

main div {
}

main div section {
}

main div section header {
}

main div section p {
}

main div section img {
}

footer {
}

.body {
}

.header-start {
}

.h1 {
}

.nav {
}

.nav-ul {
}

.nav-ul-li {
}

.links {
}

.main {
}

.main-div {
}

.main-div-section {
}

.main-div-section-header {
}

.main-div-section-p {
}

.main-div-section-img {
}

.footer {
}
